/// A map of breakpoints.
///
/// @group tokens
/// @type Map
$breakpoints: (
  xsm: 0,
  sm: 480px,
  md: 680px,
  lg: 970px,
  xl: 1170px,
  xxl: 1600px
) !default;

/// A map of pixel ratios
///
/// @group tokens
/// @type Map
$pixelratios: (
  '1.5': (
    ratio: 1.5,
    resolution: 144dpi
  ),
  '2': (
    pxratio: 2,
    resolution: 192dpi
  ),
  '3': (
    pxratio: 3,
    resolution: 288dpi
  )
) !default;
